USE [master]
GO
/****** Object:  Database [HelloWeb]    Script Date: 5/8/2019 9:06:19 AM ******/
CREATE DATABASE [HelloWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HelloWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HelloWeb.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HelloWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HelloWeb_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HelloWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HelloWeb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ApplicationGroups]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ApplicationGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationRoleGroups]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRoleGroups](
	[GroupId] [int] NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationRoleGroups] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationRoles]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](250) NULL,
	[Discriminator] [nvarchar](128) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.ApplicationRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserClaims]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserClaims] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserGroups]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserGroups](
	[UserId] [nvarchar](128) NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserGroups] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserLogins]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUserRoles]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[IdentityRole_Id] [nvarchar](128) NULL,
	[ApplicationUser_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.ApplicationUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationUsers]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FullName] [nvarchar](256) NULL,
	[Address] [nvarchar](256) NULL,
	[BirthDay] [datetime] NULL,
	[Email] [nvarchar](max) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ApplicationUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactDetails]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Website] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Other] [nvarchar](max) NULL,
	[Lat] [float] NULL,
	[Lng] [float] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ContactDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Errors]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Errors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[Message] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Footers]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footers](
	[ID] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Footers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuGroups]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuGroups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.MenuGroups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](256) NOT NULL,
	[DisplayOrder] [int] NULL,
	[GroupID] [int] NOT NULL,
	[Target] [nvarchar](10) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 5/8/2019 9:06:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL DEFAULT ((0)),
	[Price] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](256) NOT NULL,
	[CustomerAddress] [nvarchar](256) NOT NULL,
	[CustomerEmail] [nvarchar](256) NOT NULL,
	[CustomerMobile] [nvarchar](50) NOT NULL,
	[CustomerMessage] [nvarchar](256) NOT NULL,
	[PaymentMethod] [nvarchar](256) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[CustomerId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pages]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Pages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PostCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentID] [int] NULL,
	[DisplayOrder] [int] NULL,
	[Image] [nvarchar](256) NULL,
	[HomeFlag] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PostCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Posts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [varchar](256) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Image] [nvarchar](256) NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[HomeFlag] [bit] NULL,
	[HotFlag] [bit] NULL,
	[ViewCount] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PostTags]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PostTags](
	[PostID] [int] NOT NULL,
	[TagID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.PostTags] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ParentID] [int] NULL,
	[DisplayOrder] [int] NULL,
	[Image] [nvarchar](256) NULL,
	[HomeFlag] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Alias] [nvarchar](256) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Image] [nvarchar](256) NULL,
	[MoreImages] [xml] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PromotionPrice] [decimal](18, 2) NULL,
	[Warranty] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Content] [nvarchar](max) NULL,
	[HomeFlag] [bit] NULL,
	[HotFlag] [bit] NULL,
	[ViewCount] [int] NULL,
	[Tags] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[MetaKeyword] [nvarchar](256) NULL,
	[MetaDescription] [nvarchar](256) NULL,
	[Status] [bit] NOT NULL,
	[Quantity] [int] NOT NULL DEFAULT ((0)),
	[OriginalPrice] [decimal](18, 2) NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductTags](
	[ProductID] [int] NOT NULL,
	[TagID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.ProductTags] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Slides]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
	[Image] [nvarchar](256) NULL,
	[Url] [nvarchar](256) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Slides] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupportOnlines]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportOnlines](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Skype] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Yahoo] [nvarchar](50) NULL,
	[Facebook] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_dbo.SupportOnlines] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemConfigs]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SystemConfigs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[ValueString] [nvarchar](50) NULL,
	[ValueInt] [int] NULL,
 CONSTRAINT [PK_dbo.SystemConfigs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VisitorStatistics]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorStatistics](
	[ID] [uniqueidentifier] NOT NULL,
	[VisitedDate] [datetime] NOT NULL,
	[IPAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.VisitorStatistics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ApplicationGroups] ON 

INSERT [dbo].[ApplicationGroups] ([ID], [Name], [Description]) VALUES (3, N'Admin', NULL)
INSERT [dbo].[ApplicationGroups] ([ID], [Name], [Description]) VALUES (4, N'User', NULL)
SET IDENTITY_INSERT [dbo].[ApplicationGroups] OFF
INSERT [dbo].[ApplicationRoleGroups] ([GroupId], [RoleId]) VALUES (3, N'0b3ce721-b18f-4b91-9147-e8ffe896e6f5')
INSERT [dbo].[ApplicationRoleGroups] ([GroupId], [RoleId]) VALUES (4, N'1f2d9a2a-3ffe-4ca1-b62a-8152830bed9a')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'0b3ce721-b18f-4b91-9147-e8ffe896e6f5', N'UserAdmin', N'UserAdmin', N'ApplicationRole')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'0e3326db-bfe1-437c-8a22-527b78eb33a2', N'Admin', NULL, N'IdentityRole')
INSERT [dbo].[ApplicationRoles] ([Id], [Name], [Description], [Discriminator]) VALUES (N'1f2d9a2a-3ffe-4ca1-b62a-8152830bed9a', N'UserUser', N'UserUser', N'ApplicationRole')
INSERT [dbo].[ApplicationUserGroups] ([UserId], [GroupId]) VALUES (N'93a7d178-95cd-46ac-94a4-b777ed0b39ae', 3)
INSERT [dbo].[ApplicationUserGroups] ([UserId], [GroupId]) VALUES (N'a382a54c-ba20-42ac-967c-c7ac8f59afdf', 4)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'4c659e27-8776-4c90-9b78-135e50a57846', N'3a45960b-fcc0-4062-9465-cd3f8144bb5f', NULL, NULL)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'7b586b87-c799-47cc-9a82-79d8f398f80f', N'1f2d9a2a-3ffe-4ca1-b62a-8152830bed9a', NULL, NULL)
INSERT [dbo].[ApplicationUserRoles] ([UserId], [RoleId], [IdentityRole_Id], [ApplicationUser_Id]) VALUES (N'7b586b87-c799-47cc-9a82-79d8f398f80f', N'3a45960b-fcc0-4062-9465-cd3f8144bb5f', NULL, NULL)
INSERT [dbo].[ApplicationUsers] ([Id], [FullName], [Address], [BirthDay], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'4c659e27-8776-4c90-9b78-135e50a57846', N'bachbx', N'thái bình', CAST(N'2019-05-07 09:32:18.760' AS DateTime), N'bachbx@gmail.com', 1, N'ANfgpd66nyYanqwBaq0H8GwZ7ZdR3w/Xd364ZHiq8ols19qljbfUcISB6ef8s1k3/g==', N'bae2b446-3b92-4089-9b74-c3c8e49b67da', N'0365834458', 0, 0, NULL, 0, 0, N'helloweb123')
INSERT [dbo].[ApplicationUsers] ([Id], [FullName], [Address], [BirthDay], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'93a7d178-95cd-46ac-94a4-b777ed0b39ae', N'Admin', NULL, CAST(N'2019-04-30 17:00:00.000' AS DateTime), N'Admin@gmail.com', 0, N'AM8ZI8TOe7sS868LdQokoW1DRuAR2Lk4st+f/x2lBOfYqzkXgve+PahRvh7MMXbD8A==', N'17e28e88-f1ec-4192-9dee-cd93f97ab87e', N'0948385305', 0, 0, NULL, 0, 0, N'admin')
INSERT [dbo].[ApplicationUsers] ([Id], [FullName], [Address], [BirthDay], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a382a54c-ba20-42ac-967c-c7ac8f59afdf', N'fsdfsdfsdfsd', NULL, CAST(N'2019-05-08 17:00:00.000' AS DateTime), N'helloweb@gmail.com', 0, N'AM5mbkVf6V6M3HK3vIzkGfxlCAMUYhzC2oY0hXeTTEVoLvRim9XsLG0p4+cXlz2AMg==', N'0c4eaab3-7b99-4c9c-a375-63551d1cb604', N'0365834458', 0, 0, NULL, 0, 0, N'helloweb')
SET IDENTITY_INSERT [dbo].[ContactDetails] ON 

INSERT [dbo].[ContactDetails] ([ID], [Name], [Phone], [Email], [Website], [Address], [Other], [Lat], [Lng], [Status]) VALUES (1, N'Shop Đồng Hồ', N'0948385305', N'Admin@gmail.com', N'https://thienhuongshop.com', N'78 Giải Phóng', N'', 21.0016089, 105.840433, 1)
SET IDENTITY_INSERT [dbo].[ContactDetails] OFF
SET IDENTITY_INSERT [dbo].[Errors] ON 

INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (1, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at HelloWeb.Web.API.ProductCategoryController.<>c__DisplayClass2_0.<GetAll>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductCategoryController.cs:line 37
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-16 11:55:50.667' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (2, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at HelloWeb.Web.API.ProductCategoryController.<>c__DisplayClass2_0.<GetAll>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductCategoryController.cs:line 37
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-16 11:57:40.803' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (3, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at HelloWeb.Web.API.ProductCategoryController.<>c__DisplayClass2_0.<GetAll>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductCategoryController.cs:line 37
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-16 11:58:00.107' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (4, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at HelloWeb.Web.API.ProductCategoryController.<>c__DisplayClass2_0.<GetAll>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductCategoryController.cs:line 37
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-16 11:58:06.767' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (5, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at HelloWeb.Web.API.ProductCategoryController.<>c__DisplayClass2_0.<GetAll>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductCategoryController.cs:line 37
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-16 11:58:13.553' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (6, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at HelloWeb.Web.API.ProductCategoryController.<>c__DisplayClass2_0.<GetAll>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductCategoryController.cs:line 37
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-16 13:47:22.137' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (7, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at HelloWeb.Web.API.ProductCategoryController.<>c__DisplayClass2_0.<GetAll>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductCategoryController.cs:line 37
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-16 13:48:50.830' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (8, N'Mapper not initialized. Call Initialize with appropriate configuration. If you are trying to use mapper instances through a container or otherwise, make sure you do not have any calls to the static Mapper.Map methods, and if you''re using ProjectTo or UseAsDataSource extension methods, make sure you pass in the appropriate IConfigurationProvider instance.', N'   at AutoMapper.Mapper.get_Instance()
   at AutoMapper.Mapper.Map[TSource,TDestination](TSource source)
   at HelloWeb.Web.API.ProductCategoryController.<>c__DisplayClass2_0.<GetAll>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductCategoryController.cs:line 37
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-16 15:04:49.987' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (9, N'Object reference not set to an instance of an object.', N'   at HelloWeb.Web.Infrastructure.Extentsions.EntityExtensions.UpdateProduct(Product product, ProductViewModel productVm) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Extentsions\EntityExtensions.cs:line 76
   at HelloWeb.Web.API.ProductController.<>c__DisplayClass6_0.<Create>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductController.cs:line 116
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-18 16:25:22.010' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (10, N'Object reference not set to an instance of an object.', N'   at HelloWeb.Web.Infrastructure.Extentsions.EntityExtensions.UpdateProduct(Product product, ProductViewModel productVm) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Extentsions\EntityExtensions.cs:line 76
   at HelloWeb.Web.API.ProductController.<>c__DisplayClass6_0.<Create>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductController.cs:line 116
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-18 16:25:37.653' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (11, N'Object reference not set to an instance of an object.', N'   at HelloWeb.Web.Infrastructure.Extentsions.EntityExtensions.UpdateProduct(Product product, ProductViewModel productVm) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Extentsions\EntityExtensions.cs:line 76
   at HelloWeb.Web.API.ProductController.<>c__DisplayClass6_0.<Create>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\ProductController.cs:line 116
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-18 16:26:36.907' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (13, N'Missing type map configuration or unsupported mapping.

Mapping types:
OrderDetail -> OrderDetailViewModel
HelloWeb.Model.Models.OrderDetail -> HelloWeb.Web.Models.OrderDetailViewModel

Destination path:
IEnumerable`1[0]

Source value:
System.Data.Entity.DynamicProxies.OrderDetail_C118D32E65372C79A3DBA0F11CCB761CD5C537A0FDBA8D12C032A34A1BB68393', N'   at HelloWeb.Web.API.OrderController.<>c__DisplayClass2_0.<GetOrderDetailById>b__0() in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\API\OrderController.cs:line 40
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\HelloWeb\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-04-30 11:31:28.507' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (14, N'Missing type map configuration or unsupported mapping.

Mapping types:
Feedback -> FeedbackViewModel
HelloWeb.Model.Modes.Feedback -> HelloWeb.Web.Models.FeedbackViewModel

Destination path:
IEnumerable`1[0]

Source value:
HelloWeb.Model.Modes.Feedback', N'   at HelloWeb.Web.API.FeedBacksController.<>c__DisplayClass2_0.<getAllFeedBacks>b__0() in C:\Users\THHN\Desktop\ShopThienHuong\HelloWeb.Web\API\FeedBacksController.cs:line 35
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\ShopThienHuong\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-05-07 21:30:10.803' AS DateTime))
INSERT [dbo].[Errors] ([ID], [Message], [StackTrace], [CreatedDate]) VALUES (15, N'Missing type map configuration or unsupported mapping.

Mapping types:
Feedback -> FeedbackViewModel
HelloWeb.Model.Modes.Feedback -> HelloWeb.Web.Models.FeedbackViewModel

Destination path:
IEnumerable`1[0]

Source value:
HelloWeb.Model.Modes.Feedback', N'   at HelloWeb.Web.API.FeedBacksController.<>c__DisplayClass2_0.<getAllFeedBacks>b__0() in C:\Users\THHN\Desktop\ShopThienHuong\HelloWeb.Web\API\FeedBacksController.cs:line 35
   at HelloWeb.Web.Infrastructure.Core.ApiControllerBase.CreateHttpResponse(HttpRequestMessage requestMessage, Func`1 func) in C:\Users\THHN\Desktop\ShopThienHuong\HelloWeb.Web\Infrastructure\Core\ApiControllerBase.cs:line 29', CAST(N'2019-05-07 21:30:29.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[Errors] OFF
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([ID], [Name], [Email], [Message], [CreatedDate], [Status]) VALUES (2, N'Bùi Xuân Bách', N'bachbx@gmail.com', N'abcedfjgh', CAST(N'2019-05-07 09:35:58.010' AS DateTime), 0)
INSERT [dbo].[Feedbacks] ([ID], [Name], [Email], [Message], [CreatedDate], [Status]) VALUES (3, N'Bùi Xuân Bách', N'buixuanbach1410@gmail.com', N'đờ mờ mờ mờ nhà chú có tiền k ', CAST(N'2019-05-07 21:46:00.877' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
INSERT [dbo].[Footers] ([ID], [Content]) VALUES (N'default', N'
  <div class="footer-bottom-cate">
        <h6>SHOP ĐIỆN THOẠI</h6>
        <ul>
          <li><a href="#">Trụ sở chính: 78 Trường Chinh</a></li>
          <li><a href="#">Hotline: 0948.385.305</a></li>
          <li><a href="#">CS2: 522 Kim Mã- Phone: 0948.385.305</a></li>
          <li><a href="#">CS3: 522 Hàng Mã- Phone: 0948.385.305</a></li>
          <li><a href="#">CS3: 522 Hàng Bài- Phone: 0948.385.305</a></li>
          <li><a href="#">Mã số thuế: 688666888866</a></li>
        </ul>
      </div>
      <div class="footer-bottom-cate bottom-grid-cat">
        <h6>DỊCH VỤ NỔI BẬT</h6>
        <ul>
          <li><a href="#">Chăm sóc khách hàng tận tình</a></li>
          <li><a href="#">Phục vụ từ A-Z</a></li>
          <li><a href="#">Chất lượng đảm bảo</a></li>
          <li><a href="#">Mẫu mã hợp thời trang</a></li>
          <li><a href="#">Khách hàng là thượng đế</a></li>
          <li><a href="#">Mua 3 tặng 1</a></li>
        </ul>
      </div>
      <div class="footer-bottom-cate">
        <h6>HỖ TRỢ KHÁCH HÀNG</h6>
        <ul>
          <li><a href="#">Thông tin liên hệ</a></li>
          <li><a href="#">Hướng dẫn thanh toán</a></li>
          <li><a href="#">Chính sách riêng tư</a></li>
          <li><a href="#">Quy định sử dụng dịch vụ</a></li>
          <li><a href="#">Chính sách hoàn tiền</a></li>
        </ul>
      </div>
      <div class="footer-bottom-cate cate-bottom">
        <h6>Địa chỉ</h6>
        <ul>
          <li>78 Trường Chinh</li>
          <li>Đống Đa</li>
          <li>Hà Nội</li>
          <li>Việt Nam</li>
          <li class="phone">PH : 0948.385.305</li>
          <li class="temp"> <p class="footer-class">Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p></li>
        </ul>
      </div>
      <div class="clearfix"> </div>')
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [Price]) VALUES (10, 40, 3, CAST(776000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [CustomerName], [CustomerAddress], [CustomerEmail], [CustomerMobile], [CustomerMessage], [PaymentMethod], [CreatedDate], [CreatedBy], [PaymentStatus], [Status], [CustomerId]) VALUES (9, N'ShopThienHuong', N'ShopThienHuong', N'ShopThienHuong', N'ShopThienHuong', N'ShopThienHuong', N'ShopThienHuong', CAST(N'2019-05-04 22:31:24.940' AS DateTime), NULL, NULL, 1, NULL)
INSERT [dbo].[Orders] ([ID], [CustomerName], [CustomerAddress], [CustomerEmail], [CustomerMobile], [CustomerMessage], [PaymentMethod], [CreatedDate], [CreatedBy], [PaymentStatus], [Status], [CustomerId]) VALUES (10, N'Slide3', N'Slide3', N'Slide3', N'Slide3', N'Slide3', N'Slide3', CAST(N'2019-05-07 21:42:19.157' AS DateTime), NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([ID], [Name], [Alias], [Content], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (1, N'Giới thiệu', N'gioi-thieu', N'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium ', NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Pages] OFF
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (17, N'ĐỒNG HỒ ĐÔI', N'dong-ho-doi', N'Mẫu mã đẹp, kiểu dáng thời trang', NULL, 1, NULL, 1, CAST(N'2019-05-04 14:58:50.887' AS DateTime), NULL, NULL, NULL, N'Hàng chất lượng cao giá cả hợp lý', N'Hàng chất lượng cao giá cả hợp lý', 1)
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (18, N'ĐỒNG HỒ NAM', N'dong-ho-nam', N'Mẫu mã đẹp, kiểu dáng thời trang', NULL, 2, NULL, 1, CAST(N'2019-05-04 15:37:19.540' AS DateTime), NULL, NULL, NULL, N'Hàng chất lượng cao giá cả hợp lý', N'Hàng chất lượng cao giá cả hợp lý', 1)
INSERT [dbo].[ProductCategories] ([ID], [Name], [Alias], [Description], [ParentID], [DisplayOrder], [Image], [HomeFlag], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status]) VALUES (19, N'ĐỒNG HỒ NỮ', N'dong-ho-nu', N'Mẫu mã đẹp, kiểu dáng thời trang', NULL, 3, NULL, 1, CAST(N'2019-05-05 05:49:49.380' AS DateTime), NULL, NULL, NULL, N'Hàng chất lượng cao giá cả hợp lý', N'ĐỒNG HỒ NỮ', 1)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status], [Quantity], [OriginalPrice]) VALUES (38, N'CITIZEN EL3041-87X- NỮ– QUARTZ', N'citizen-el3041-87x-nu–-quartz', 19, N'/UploadedFiles/files/149_EL3041-87X.jpg', N'["/UploadedFiles/files/Citizen-Box1(1).jpg","/UploadedFiles/files/149014326_Jl-1-1853ZE-DOI.jpg","/UploadedFiles/files/149014326_Jl-1-1853ZE-DOI.jpg","/UploadedFiles/files/1223602620_QQ-S297J201Y.jpg","/UploadedFiles/files/149_EL3041-87X(1).jpg","/UploadedFiles/files/49_LTP-V004GL-7AUDF.jpg"]', CAST(2650000.00 AS Decimal(18, 2)), CAST(2200000.00 AS Decimal(18, 2)), 12, N'Vẻ đẹp quý phái ẩn mình với vẻ ngoài giản dị của chiếc đồng hồ 3 kim Citizen EL3041-87X cùng thiết kế tỉ mỉ đính kèm các viên kim cương xung quanh viền đồng hồ, khoác lên vẻ kiêu sa cuốn hút cho phái đẹp.', N'<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:699px">
	<tbody>
		<tr>
			<td style="background-color:#efeff1; height:19px; width:180px">
			<p><strong>Thương Hiệu</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px; width:180px">
			<p>Citizen</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Số Hiệu Sản Phẩm</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">EL3041-87X</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Xuất Xứ</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Nhật Bản</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Giới T&iacute;nh</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>Nữ</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>K&iacute;nh</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Mineral Crystal (K&iacute;nh Cứng)</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>M&aacute;y</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>Quartz (Pin)</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Bảo H&agrave;nh Quốc Tế</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>1 Năm</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Bảo H&agrave;nh Tại Hải Triều</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p><strong>5 Năm</strong></p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Đường K&iacute;nh Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>31 mm</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Bề D&agrave;y Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">7.3 mm</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Niềng</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Th&eacute;p Kh&ocirc;ng Gỉ</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>D&acirc;y Đeo</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>Th&eacute;p Kh&ocirc;ng Gỉ</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>M&agrave;u Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">Hồng Nhạt</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Chống Nước</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>3 ATM</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Chức Năng</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
', 1, 1, NULL, N'CITIZEN EL3041-87X', CAST(N'2019-05-06 21:11:23.657' AS DateTime), NULL, CAST(N'2019-05-07 22:09:45.370' AS DateTime), NULL, N'Hàng chất lượng cao giá cả hợp lý', N'CITIZEN EL3041-87X', 1, 50, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status], [Quantity], [OriginalPrice]) VALUES (39, N'DANIEL WELLINGTON DW00100183', N'DANIEL WELLINGTON DW00100183', 19, N'/UploadedFiles/files/126_DW00100183.jpg', N'["/UploadedFiles/files/HOP1.jpg"]', CAST(3900000.00 AS Decimal(18, 2)), CAST(3300000.00 AS Decimal(18, 2)), 12, N'Mẫu Daniel Wellington DW00100183 kích thước đồng hồ tròn nhỏ nữ tính với vẻ ngoài thiết kế giản dị, nổi bật các kim chỉ cùng vạch số được gia công kiểu dáng thanh mảnh phủ bạc kết hợp cùng bộ dây da mang lại vẻ thanh lịch cho phái nữ.', N'<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:699px">
	<tbody>
		<tr>
			<td style="background-color:#efeff1; height:19px; width:180px">
			<p><strong>Thương Hiệu</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px; width:180px">Daniel Wellington</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Số Hiệu Sản Phẩm</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">DW00100183</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Xuất Xứ</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Thụy Điển</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Giới T&iacute;nh</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>Nữ</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>K&iacute;nh</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Mineral Crystal (K&iacute;nh Cứng)</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>M&aacute;y</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>Quartz (Pin)</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Bảo H&agrave;nh Quốc Tế</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>2 Năm</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Bảo H&agrave;nh Tại Hải Triều</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p><strong>5 Năm</strong></p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Đường K&iacute;nh Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>32 mm</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Bề D&agrave;y Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>8 mm</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Niềng</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Th&eacute;p Kh&ocirc;ng Gỉ</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>D&acirc;y Đeo</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>D&acirc;y Da Ch&iacute;nh H&atilde;ng</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>M&agrave;u Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Trắng</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Chống Nước</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>3 ATM</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Chức Năng</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
', 1, 1, NULL, N'DANIEL WELLINGTON DW00100183', CAST(N'2019-05-06 22:02:09.827' AS DateTime), NULL, CAST(N'2019-05-06 22:04:20.827' AS DateTime), NULL, N'Hàng chất lượng cao giá cả hợp lý', N'DANIEL WELLINGTON DW00100183', 1, 20, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ID], [Name], [Alias], [CategoryID], [Image], [MoreImages], [Price], [PromotionPrice], [Warranty], [Description], [Content], [HomeFlag], [HotFlag], [ViewCount], [Tags], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [MetaKeyword], [MetaDescription], [Status], [Quantity], [OriginalPrice]) VALUES (40, N'CASIO LTP-V004GL-7AUDF', N'CASIO LTP-V004GL-7AUDF', 19, N'/UploadedFiles/files/49_LTP-V004GL-7AUDF.jpg', N'["/UploadedFiles/files/202_LTP-V004GL-7AUDF-699x699.jpg","/UploadedFiles/files/casio-box.jpg"]', CAST(776000.00 AS Decimal(18, 2)), CAST(776000.00 AS Decimal(18, 2)), 12, N'Đồng hồ Casio LTP-V004GL-7AUDF có mặt số tròn với viền kim loại được phủ màu vàng sang trọng, kim chỉ và vạch số thanh mãnh nổi bật trên nền số màu trắng trang nhã, dây đeo bằng chất liệu da màu nâu có vân đem đến nét thanh lịch quyến rũ cho phái nữ', N'<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="width:699px">
	<tbody>
		<tr>
			<td style="background-color:#efeff1; height:19px; width:180px">
			<p><strong>Thương Hiệu</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px; width:180px">
			<p>Casio</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Số Hiệu Sản Phẩm</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">LTP-V004GL-7AUDF</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Xuất Xứ</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Nhật Bản</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Giới T&iacute;nh</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>Nữ</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>K&iacute;nh</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Mineral Crystal (K&iacute;nh Cứng)</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>M&aacute;y</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>Quartz (Pin)</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Bảo H&agrave;nh Quốc Tế</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>1 Năm</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Bảo H&agrave;nh Tại Hải Triều</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Đường K&iacute;nh Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">35.2mm&ensp;&times;&ensp;30.2mm</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Bề D&agrave;y Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>7.8 mm</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Niềng</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>D&acirc;y Đeo</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>D&acirc;y Da Ch&iacute;nh H&atilde;ng</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>M&agrave;u Mặt Số</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Trắng</p>
			</td>
		</tr>
		<tr>
			<td style="height:19px">
			<p><strong>Chống Nước</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="width:519px">
			<p>3 ATM</p>
			</td>
		</tr>
		<tr>
			<td style="background-color:#efeff1; height:19px">
			<p><strong>Chức Năng</strong></p>
			</td>
			<td style="width:1px">&nbsp;</td>
			<td style="background-color:#efeff1; height:19px">
			<p>Lịch Ng&agrave;y</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
', 1, 1, NULL, N'CASIO LTP-V004GL-7AUDF,NỮ', CAST(N'2019-05-06 22:05:24.573' AS DateTime), NULL, CAST(N'2019-05-06 22:06:53.697' AS DateTime), NULL, N'Hàng chất lượng cao giá cả hợp lý', N'Hàng chất lượng cao giá cả hợp lý', 1, 85, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (40, N'CASIO-LTP-V004GL-7AUDF')
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (38, N'CITIZEN-EL3041-87X')
INSERT [dbo].[ProductTags] ([ProductID], [TagID]) VALUES (39, N'DANIEL-WELLINGTON-DW00100183')
SET IDENTITY_INSERT [dbo].[Slides] ON 

INSERT [dbo].[Slides] ([ID], [Name], [Description], [Image], [Url], [DisplayOrder], [Status], [Content]) VALUES (13, N'Dongho1', N'Mẫu mã đẹp, kiểu dáng thời trang', N'/UploadedFiles/files/790154414_QQ-S278J102Y(1).jpg', NULL, 1, 1, N'<h2 style="text-align:center">SALE OFF</h2><br/>
<h2 style="text-align:center">50%</h2><br/><br/>

<span class="on-get" style="margin:150px"><a href="/ViewAll">XEM NGAY</a></span>
')
INSERT [dbo].[Slides] ([ID], [Name], [Description], [Image], [Url], [DisplayOrder], [Status], [Content]) VALUES (14, N'Dongho2', N'Mẫu mã đẹp, kiểu dáng thời trang', N'/UploadedFiles/files/1223602620_QQ-S297J201Y.jpg', NULL, 2, 1, N'<h2 style="text-align:center">SALE OFF</h2><br/>
<h2 style="text-align:center">50%</h2><br/><br/>

<span class="on-get" style="margin:150px"><a href="/ViewAll">XEM NGAY</a></span>
')
SET IDENTITY_INSERT [dbo].[Slides] OFF
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'Ao-khoac-bomber-sac-den-cuc-chat-SID56527', N'Áo khoác bomber sắc đen cực chất SID56527', N'product')
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'Ao-khoac-Chino-thoi-thuong-SID56708', N'Áo khoác Chino thời thượng SID56708', N'product')
INSERT [dbo].[Tags] ([ID], [Name], [Type]) VALUES (N'ao-khoac-nam-akuba-cao-cap-3309-sid66310', N'Áo khoác nam Akuba cao cấp -3309 SID66310', N'product')
/****** Object:  Index [IX_GroupId]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_GroupId] ON [dbo].[ApplicationRoleGroups]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[ApplicationRoleGroups]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[ApplicationUserClaims]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupId]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_GroupId] ON [dbo].[ApplicationUserGroups]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[ApplicationUserGroups]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[ApplicationUserLogins]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ApplicationUser_Id]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Id] ON [dbo].[ApplicationUserRoles]
(
	[ApplicationUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_IdentityRole_Id]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_IdentityRole_Id] ON [dbo].[ApplicationUserRoles]
(
	[IdentityRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_GroupID] ON [dbo].[Menus]
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[OrderDetails]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[OrderDetails]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CustomerId]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Posts]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_PostID] ON [dbo].[PostTags]
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TagID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_TagID] ON [dbo].[PostTags]
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[ProductTags]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TagID]    Script Date: 5/8/2019 9:06:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_TagID] ON [dbo].[ProductTags]
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ApplicationGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[ApplicationRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.ApplicationRoles_RoleId]
GO
ALTER TABLE [dbo].[ApplicationUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserClaims] CHECK CONSTRAINT [FK_dbo.IdentityUserClaims_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ApplicationGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationGroups_GroupId]
GO
ALTER TABLE [dbo].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[ApplicationUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.ApplicationUsers_UserId]
GO
ALTER TABLE [dbo].[ApplicationUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserLogins] CHECK CONSTRAINT [FK_dbo.IdentityUserLogins_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id] FOREIGN KEY([ApplicationUser_Id])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.ApplicationUsers_ApplicationUser_Id]
GO
ALTER TABLE [dbo].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id] FOREIGN KEY([IdentityRole_Id])
REFERENCES [dbo].[ApplicationRoles] ([Id])
GO
ALTER TABLE [dbo].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.IdentityUserRoles_dbo.IdentityRoles_IdentityRole_Id]
GO
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menus_dbo.MenuGroups_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[MenuGroups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_dbo.Menus_dbo.MenuGroups_GroupID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.ApplicationUsers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[ApplicationUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.ApplicationUsers_CustomerId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[PostCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_CategoryID]
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostTags_dbo.Posts_PostID] FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags] CHECK CONSTRAINT [FK_dbo.PostTags_dbo.Posts_PostID]
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PostTags_dbo.Tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostTags] CHECK CONSTRAINT [FK_dbo.PostTags_dbo.Tags_TagID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_CategoryID]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagID]
GO
/****** Object:  StoredProcedure [dbo].[GetRevenueStatistic]    Script Date: 5/8/2019 9:06:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetRevenueStatistic]
@fromdate nvarchar(30),
@todate nvarchar(30) AS
select
                o.CreatedDate as Date,
                sum(od.Quantity*od.Price) as Revenues,
                sum((od.Quantity*od.Price)-(od.Quantity*p.OriginalPrice)) as Benefit
                from Orders o
                inner join OrderDetails od
                on o.ID = od.OrderId
                inner join Products p
                on od.ProductID  = p.ID
                where o.CreatedDate <= cast(@toDate as date) and o.CreatedDate >= cast(@fromDate as date)
                group by o.CreatedDate
GO
USE [master]
GO
